.footer_app {
    margin: 0;
    padding: 0;
    margin-top: 40px;

}

.footer_container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    padding-left: 20px;
}

.link_container {
    width: 100%;
    text-align: center;
}

li {
    cursor: pointer;
    justify-content: center;
    display: inline-block;
    padding-left: 20px;
}

.logo_pic {
    text-align: center;
    padding: 5px;
}
.footer_text{
    margin: 0px;
    text-align: center;
}
.text1 {
    margin-top: 8px;
    margin-bottom: 2px;
}

h4{
    margin-top: 2px;
    font-size: 15px;
    font-weight: bold;
}